div:hover{
    cursor: pointer;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#display-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clear-and-reset-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#clear{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 12px;
    height: 60px;
    width: 180px;
    padding: 20px;
    border:4px solid black; 
    border-radius: 15px;
    background-color: rgb(228, 67, 67);
}
#clear:hover{
    background-color: rgb(208, 27, 27);

}
#clear:active{
    transform:scale(1.10);
}
#backspace{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 12px;
    height: 60px;
    width: 180px;
    padding: 20px;
    border:4px solid black; 
    border-radius: 15px;
    background-color: rgb(250, 175, 36)
}
#backspace:hover{
    background-color: rgb(232, 132, 39);

}
#backspace:active{
    transform:scale(1.10);
}
#container{
    border:5px solid black; 
    border-radius: 15px;
    margin-top: 50px;
    padding: 10px;
}
#display-calculator{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    height:40px;
    width: 500px;
    padding: 40px;
    border: 4px solid black;
    border-radius: 15px;
}
#numbers-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 15px;
}
#numbers-container{
    margin: 12px;
    display: flex;
    height: 500px;
    width: 620px;

}
#digits{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 1px;
    height: 96px;
    width: 140px;
    border: 4px solid black;
    border-radius: 15px;
}
#digits:hover{
    background-color: rgb(139, 229, 209);

}
#digits:active{
    transform:scale(1.10);
}
#operators{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 244, 34);
    font-size: 40px;
    text-align: center;
    margin: 1px;
    height: 96px;
    width: 130px;
    border: 4px solid black;
    border-radius: 15px;
}
#operators:hover{
    background-color: rgb(223, 213, 10);
}
#operators:active{
    transform:scale(1.10);
}
#equals{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 229, 139);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 1px;
    height: 96px;
    width: 140px;
    border: 4px solid black;
    border-radius: 15px;
}
#equals:hover{
    background-color:rgb(126, 225, 96);
}
#equals:active{
    transform:scale(1.10);
}
ul{
    list-style-type: none;
}